ea-header, ea-mainresponse, ea-inresplink, ea-footer, ea-info {
    padding: 10px 0px;
}

ea-header {
    font-weight: bold;
}

ea-mainresponse {
}

ea-inresplink {
}

a {
    text-decoration: none;
}

ea-footer, ea-info {
    border-top: 1px solid #e0e3e9;
    display: block;
    margin: 0 -13px;
    text-align: center;
    text-decoration: none;
    background: #ffffff;
    color: initial;
    margin-bottom: -9px;
}

ea-link {
    cursor: pointer;
}

ol {
    padding-left: 15px;
}

.msg:not(.msg-carousel) {
    border: 1px solid #e0e3e9 !important;
}

.message-item br:last-child {
    display: none;
}

.scroll-container {
    margin-bottom: 0px !important;
}

#container #conversation .row.left-row .msg-wrapper .msg {
    background: #f8f8f9;
}